* {
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282828;
  color: #ccc;
  font-family: 'Noto Sans', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#address-bar {
  width: calc(100% - 0.8rem);
  padding: 0.4rem;
  position: sticky;
  top: 0;
  background-color: #303030;

  display: flex;
  align-items: center;
}

#address-bar-icons-left {
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}

#address-bar-icons-right {
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
  gap: 0.1rem;
}

input {
  border: none;
  outline: none;
  background-color: #282828;
  color: #ccc;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

#address-bar input {
  height: 1.3rem;
  flex-grow: 1;
}

.icon {
  color: #ccc;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  font-size: 1.4rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-open {
  display: block;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #303030;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #383838;
}

.modal-title {
  margin: 0.2rem 0.4rem;
}

.close-modal {
  font-size: 1.4rem;
}

.modal-content {
  padding: 0.4rem;
}

.settings-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-label {
  margin-right: 0.4rem;
}

/*select {
  color: #ccc;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 0;
  height: 1.3rem;

  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='lightgray'><polygon points='0,33 67,33 33,83'/></svg>") no-repeat;
  background-size: 0.8rem;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: #282828;

  flex-grow: 1;
}

hr {
  border: none;
  border-top: 1px solid #444;
  margin: 0.4rem 0 calc(0.4rem - 1px);
}*/

#main-row {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

#output-frame {
  flex-grow: 1;
  border: none;
}

.right-sidebar {
  width: 25rem;
  height: 100%;
  background-color: #303030;
  display: none;
  overflow-x: hidden;
}

.sidebar-open {
  display: block;
}

.current-node {
  background-color: #484848;
}

.node-content {
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  height: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.node-url {
  font-size: 13.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node-buttons {
  display: none;
}

.node-buttons .icon {
  font-size: 1.2rem;
}

.node-content:hover {
  background-color: #484848;
}

.node-content:hover .node-buttons {
  display: flex;
}

.node-children {
  display: flex;
  width: 100%;
}

.node-children-spacer {
  margin: 0 0.4rem 0 0.6rem;
  border-left: 1px solid #404040;
}

.node-children-content {
  flex-grow: 1;
  overflow: auto;
}